<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
  <link rel="stylesheet" href="/stylesheets/about.css">
  <title>Document</title>
</head>
<body>
    <!--<canvas id='c'></canvas>-->
    <h1>
    ABOUT US
    <br>
    <img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" align="center">
    </h1>
    <article>
      <p>
        ADVAITA is the annual Techno-Cult fest of IIIT Bhubaneswar. It was named “ADVAITA”, meaning “non-duality”, which was the intention, to fuse both technology and culture into one. 
        Six years has seen a mercurial rise in the fest, expanding and establishing itself as one of the biggest and the most anticipated events in the state of Odisha.
      </p>
      <p>
          Every year, ADVAITA reaches new heights. The standard of the events is always top-notch, which reflects in the magnanimous participation strength every year. 
          With eminent celebrities attending our events and attracting a huge crowd, ADVAITA always aims for the best.
      </p>
      <p>
          This four-day programme includes events in the category of Technology, Music, Art, Dance, Fashion, and celebrity performances. Our Technical events draw a large number of coders who show their expertise in coding events like Switch Coding, Principium, Blue Print and Swig and Code. 
          The other Technical events include TechNova, the Technical Exhibition, DirtRush, PathSeeker, and BotSumo.
      </p>
      <p>
        We boast of hosting The Scribbled Stories every year. Aakanksh, the Nukkad team of IIIT Bhubaneswar, have conducted performances throughout the city promoting social awareness and eradication of taboos in our society. 
        We conduct a marathon on World Cancer Day as part of our social outreach and assistance.  
      </p>
      <p>
         In addition to that, our Cultural events also witness a unique footfall of students from different colleges of our country. 
         With some illustriou stars like Mohammed Irfan, Pandit Hariprasad Chaurasia, Divya Kumar, and The Raghu Dixit, Gajendra Verma alongside the most famous EDM bands in the country, The Sunburn, Lagori, and The Lost Stories, ADVAITA has been successful in hosting some famous celebrity over the past years. 
      </p>
      <p>
          We welcome you to this edition new of ADVAITA, lets enter the cosmo carnival.
      </p>
    </article>
    <script src="javascripts/back.js"></script>
</body>
</html>