<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COMING SOON</title>
  <style>
  @font-face{
      src: url("../fonts/SIMPLIFICA.ttf");
      font-family: simplifica;
  }
      p{
          position: absolute;
            font-family: 'simplifica';
            font-size: 10vh;
            color: white;
            letter-spacing: 31px;
            text-transform: uppercase;
            top: 31%;
            left: 20%;
      }
  </style>
</head>
<body>
  <p>coming soon</p>
</body>
</html>