<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/contact1.css">
    <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Port+Lligat+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<body style="background-color:black">
      <a href="/main"><img class="logoheading" src="/images/advaita.png"></a>
  	<% include navbar %>
  	<canvas id='c'></canvas>
<div class="contact-us"  background-image: url(assets/back5.jpg);>
    
<h1 class="contact" id="contact">CONTACT US</h1>
  <div class="row" >
    <div class="col-sm-4" style="letter-spacing:2px;font-size: 18px">
        <h4 class="pt-2" style="font-size: 25px">Address</h4>
        <i class="fas fa-globe" style="color:#000; "></i>
            <br > IIIT Bhubaneswar,
            <br> Gothapatna,
            <br> PO - Malipada,
            <br> Bhubaneswar - 751003,
            <br> Odisha,
            <br> India.
        <h4 class="pt-2" style="font-size: 25px">Phone</h4>
        <i class="fa fa-phone" style="color:#000"></i> <a href="tel:9938146537"> 993-814-6537 </a><br>
        <h4 class="pt-2" style="font-size: 25px">Email</h4>
        <i class="fa fa-envelope" style="color:#000"></i> <a href="mailto:b416003@iiit-bh.ac.in">b416003@iiit-bh.ac.in</a><br>
      </div>
    <div class="col-sm-8">
      <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&height=400&hl=en&q=IIIT%20Bhubaneswar%2CBhubaneswar%2CIndia%20+(Your%20Business%20Name)&ie=UTF8&t=&z=16&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/custom-google-maps/">Create a custom Google Map</a> by <a href="https://www.mapsdirections.info/en/">Measure area on map</a></iframe></div><br />
    </div>
</div>
</div>
<script src="/javascripts/menu.js"></script>
<script src="javascripts/back.js"></script>
</body>
</html>