<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/eventlist.css">
	        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
      <a href="/main"><img class="logoheading" src="/images/advaita.png"></a>
    <% include navbar %>
    <div>
        <ul type="none" class="event-nav desktop" id="menu">
            <li><button class="raise active"  onclick="iframeSRC('5c2b99848082f7006a6f5ca7')" ><a href="#" id="event4">ROCKATHON</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c2b99868082f7006a6f5ca8')" ><a href="#" id="event4">ACOUSTICA</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c2b99868082f7006a6f5ca9')" ><a href="#" id="event4">FOOTLOOSE</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c2b99888082f7006a6f5caa')" ><a href="#" id="event4">LA MODE</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c2b99888082f7006a6f5cab')" ><a href="#" id="event4">CYPHER</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c2b998a8082f7006a6f5cac')" ><a href="#" id="event4">TILL I COLLAPSE</a></button></li>
        </ul>
    </div>
    
    <div class="body1">
        <iframe id="framy" height="100%" width="100%" src="/details/5c2b99848082f7006a6f5ca7"></iframe>
    </div>
    <div class="back" ></div>
    <div id="notch" onclick="notchToggel()">
        Menu
    </div>
    <div id="notch-menu" ></div>
        <ul type="none" class="event-nav" id="mobile">
            <!--<li class="active"><a href="#" id="event1" onclick="iframeSRC('5c12131e3c2539033aaa2f11')">NUKKAD</a></li>-->
            <!--<li><a href="#" id="event2" onclick="iframeSRC('5c12131a3c2539033aaa2f0e')">ACOUSTICA</a></li>-->
            <!--<li><a href="#" id="event3" onclick="iframeSRC('5c12131c3c2539033aaa2f0f')">ROCKATHON</a></li>-->
            <!--<li><a href="#" id="event4" onclick="iframeSRC('5c12131c3c2539033aaa2f10')">CYPHER</a></li>-->
            <li><button class="raise active"  onclick="iframeSRC('5c12131e3c2539033aaa2f11') ; mobile() " ><a href="#" id="event4">NUKKAD</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c12131a3c2539033aaa2f0e') ; mobile()" ><a href="#" id="event4">ACOUSTICA</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c12131c3c2539033aaa2f0f') ; mobile()" ><a href="#" id="event4">ROCKATHON</a></button></li>
            <li><button class="raise"  onclick="iframeSRC('5c12131c3c2539033aaa2f10') ; mobile()" ><a href="#" id="event4">CYPHER</a></button></li>
        </ul>
        <button id="close" onclick="close1()" >Close</button>
    <script>
        // var header = document.getElementById("myDIV");
var btns = document.getElementsByClassName("raise");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
};
        function notchToggel()
        {
            document.getElementById("notch").style.display = "none";
            document.getElementById("notch-menu").style.display = "block";
            document.getElementById("mobile").style.display = "block";
            document.getElementById("close").style.display = "block";
        };
        
        function iframeSRC(x){
            // alert("done");
            // console.log(document.getElementById("framy").src);
            var src = "/details/"+x;
            // console.log(src);
            document.getElementById("framy").src = src;
        };
        function mobile()
        {
            document.getElementById("notch").style.display = "block";
            document.getElementById("notch-menu").style.display = "none";
            document.getElementById("mobile").style.display = "none";
            document.getElementById("close").style.display = "none";
        };
        function close1()
        {
            document.getElementById("notch").style.display = "block";
            document.getElementById("notch-menu").style.display = "none";
            document.getElementById("mobile").style.display = "none";
            document.getElementById("close").style.display = "none";
        }
        
        $(document).ready(function(){
            console.log("yes");
        });
    </script>
    <script src="/javascripts/menu.js"></script>
</body>
</html>