<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADVAITA</title>
// <script language=JavaScript>
//         var message = "function disabled";
//         function rtclickcheck(keyp){ if (navigator.appName == "Netscape" && keyp.which == 3){ alert(message); return false; }
//         if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) { alert(message); return false; } }
//         document.onmousedown = rtclickcheck;
// </script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/details.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.4.9/css-doodle.min.js"></script>
</head>
<body>
          
    <%# include navbar %>

    <div id="bg">
         <!--<img src="https://images.unsplash.com/photo-1478579117276-23e3d2535dce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""> -->
        <img src="<%#= details.img %>" >
    </div>
    <div id="block">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui one column left floated left aligned grid">
                    <div class="column center aligned">
                        <!--<p id="title">Piccaso</p>-->
                        <p id="title"><%= details.name %></p>
                    </div>
                </div>
                <!--<div class="ui one column left floated left grid">-->
                <!--    <div class="column">-->
                <!--        <div id="prize"> <p>Prizes Worth</p></div>-->
                <!--       <div> <span id="symbol">₹ </span> <span id="amount"><%= details.price %>K</span></div>-->
                <!--    </div>-->
                <!--</div>-->
                <div class="ui column left floated left stackable grid">
                    <div class="sixteen wide column">
                        <!--<p id="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>-->
                        <p id="description"><%- details.description %> </p> 
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="gradient-border" id="box">REGISTER</div> -->
        <!--<%# if(currentUser){ %>-->
        <!--    <form action="/details/<%=details._id%>" method="post">-->
        <!--        <button type="submit" class="gradient-border" id="box">REGISTER</button>-->
        <!--    </form>-->
        <!--<%# } else { %>-->
        <!--    <div class="gradient-border" id="box" onclick="myfunc()" >REGISTER</div>-->
        <!--<%# }%>-->
    </div>
<script>
    $(document).ready(function(){
        console.log("yo");
    });
    function myfunc(){
        alert("Login first to register");
    }
</script>
</body>
</html>