<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link rel="stylesheet" href="/stylesheets/events.css">
    <!-- <link rel="stylesheet" href="/stylesheets/navbar.css"> -->
</head>
<body>
          
    <div class="back">
    </div>
    <div class="container">
    <div class="overlay-navigation">
        <nav role="navigation" class="pullUpDown">
            <ul>
            <li class="border" ><a href="/show/cultural" data-content="The beginning">Cult</a></li>
            <li class="border" ><a href="#" data-content="Curious?">Tech</a></li>
            <li class="border" ><a href="#" data-content="I got game">Theatre</a></li>
            <li class="border" ><a href="#" data-content="Only the finest">Sports</a></li>
            <li class="border" ><a href="#" data-content="Don't hesitate">Photography</a></li>
            </ul>
        </nav>
    </div>
    </div>

    <section class="home">
    <!-- <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div> -->
    </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
        <script src="/javascripts/events.js"></script>
</body>
</html>