<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/eventlist.css">
	        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include navbar %>
    <div>
        <ul class="event-nav" id="menu">
            <li><a href="#">Event 1</a></li>
            <li><a href="#">Event 2</a></li>
            <li><a href="#">Event 3</a></li>
            <li><a href="#">Event 4</a></li>
            
        </ul>
    </div>
    
    <div class="body1">
        <iframe height="100%" width="100%" src="https://web-dev-believepranay.c9users.io/description"></iframe>
    </div>
    <script>
        $("#menu li a").click(function() {
  $("#menu li").removeClass('active');
    $(this).parent().addClass('active');
});
    </script>
    <script src="/javascripts/menu.js"></script>
</body>
</html>