<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
    <link rel="stylesheet" href="/stylesheets/events.css">
     <link rel="stylesheet" href="/stylesheets/navbar.css"> 
</head>
<body>
    <% include navbar %>
    	<canvas id='c'></canvas>
    <a href="/main"><img class="logoheading" src="/images/advaita.png"></a>
    <!--<div class="back">-->
    <!--</div>-->
    <h1 class="cato" >CategorieS</h1>
    <div class="container">
    <div class="overlay-navigation">
        <nav role="navigation" class="pullUpDown">
            <ul>
            <li class="border li1" id="a" ><a href="/cultural" data-content="The beginning">Cult</a></li>
            <li class="border li2" id="b" ><a href="/technical" data-content="Curious?">Tech</a></li>
            <li class="border li3" id="c"><a href="/theatre" data-content="I got game">Theatre</a></li>
            <li class="border li4" id="d"><a href="/sports" data-content="Only the finest">Sports</a></li>
            <li class="border li5" id="e"><a href="/photography" data-content="Don't hesitate">Photography</a></li>
            </ul>
        </nav>
    </div>
    </div>
      <!--    <div class="responsive-nav">-->
      <!--    o<span>o</span><span>o</span><span>o</span><span>o</span>-->
      <!--</div>-->
    <!--<section class="home">-->
    <!-- <div class="open-overlay">-->
    <!--    <span class="bar-top"></span>-->
    <!--    <span class="bar-middle"></span>-->
    <!--    <span class="bar-bottom"></span>-->
    <!--</div>-->
    <!--</section>-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
        <script src="/javascripts/events.js"></script>
        <script src="/javascripts/menu.js"></script>
        <script src="javascripts/back.js"></script>
    
</body>
</html>