<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <title>ADVAITA</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
    <link rel="stylesheet" href="/stylesheets/events.css">
     <link rel="stylesheet" href="/stylesheets/navbar.css"> 
</head>
<body>
    <% include navbar %>
    	<canvas id='c'></canvas>
    <a href="/"><img class="logoheading" src="/images/advaita.png"></a>
    <!--<div class="back">-->
    <!--</div>-->
    <h1 class="cato" >EVENTS</h1>
    <!--<div class="title-cato">CategorieS</div>-->
    <div class="container">
    <div class="overlay-navigation">
        <nav role="navigation" class="pullUpDown">
            <ul>
            <li class="border li1" id="a" ><a href="/cultural" data-content="Creativity is contagious,pass it on- Albert Einstien" data-html="true">Cult</a></li>
            <li class="border li2" id="b" ><a href="/technical" data-content="Technology is anything that wasn’t around when you were born. - Alan Kay">Tech</a></li>
            <li class="border li3" id="h"><a href="/theatre" data-content="In a gentle way , you can shake the world - Mahatma Gandhi">FATS</a></li>
            <li class="border li4" id="d"><a href="/sports" data-content="Winning isn’t everything, it’s the only thing. - Vince Lombardi">Sports</a></li>
            <li class="border li5" id="e"><a href="/photography" data-content="There are no bad pictures; that’s just how your face looks sometimes. - Abraham Lincoln">Photography</a></li>
            </ul>
        </nav>
    </div>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
        <script src="/javascripts/events.js"></script>
        <script src="/javascripts/menu.js"></script>
        <script src="javascripts/back.js"></script>
    
</body>
</html>