<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/gallery.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/material-photo-gallery.min.js" ></script>
</head>
<body>
      <a href="/main"><img class="logoheading" src="/images/advaita.png"></a>
  	<% include navbar %>
<p class="heading">GallerY</p>
<div class="m-p-g">
	<div class="m-p-g__thumbs" data-google-image-layout data-max-height="350">
		<img src="/advaita_gallery/pic1.jpg" data-full="/advaita_gallery/pic1.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic2.jpg" data-full="/advaita_gallery/pic2.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic3.jpg" data-full="/advaita_gallery/pic3.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic4.jpg" data-full="/advaita_gallery/pic4.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic5.jpg" data-full="/advaita_gallery/pic5.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic6.jpg" data-full="/advaita_gallery/pic6.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic7.jpg" data-full="/advaita_gallery/pic7.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic8.jpg" data-full="/advaita_gallery/pic8.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic9.jpg" data-full="/advaita_gallery/pic9.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic10.jpg" data-full="/advaita_gallery/pic10.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic11.jpg" data-full="/advaita_gallery/pic11.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic12.jpg" data-full="/advaita_gallery/pic12.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic13.jpg" data-full="/advaita_gallery/pic13.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic14.jpg" data-full="/advaita_gallery/pic14.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic15.jpg" data-full="/advaita_gallery/pic15.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic16.jpg" data-full="/advaita_gallery/pic16.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic17.jpg" data-full="/advaita_gallery/pic17.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic18.jpg" data-full="/advaita_gallery/pic18.jpg" class="m-p-g__thumbs-img" />
		<img src="/advaita_gallery/pic19.jpg" data-full="/advaita_gallery/pic19.jpg" class="m-p-g__thumbs-img" />
		<!--<img src="/advaita_gallery/pic20.jpg" data-full="/advaita_gallery/pi20.jpg" class="m-p-g__thumbs-img" />-->
	</div>

	<div class="m-p-g__fullscreen"></div>
</div>
<script src="/javascripts/menu.js"></script>
<script>
	var elem = document.querySelector('.m-p-g');
    console.log(elem);
	document.addEventListener('DOMContentLoaded', function() {
		var gallery = new MaterialPhotoGallery(elem);
		console.log(gallery);
	});
</script>
</body>
</html>