<!DOCTYPE html>
<html>
  <head>
    <title>ADVAITA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/menu.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <span class="menu"></span>
      
      <!-- <object class="classic" data="/images/classic.svg" type="image/svg+xml"></object> -->
      <!--<object id="ferris" class="ferris" data="/images/ferris.svg" type="image/svg+xml"></object>-->
      <!-- <img id="guitar" src="/images/classic.svg" class="classic"> -->
      <!-- <object id="all" data="/images/adu.svg" type="image/svg+xml"></object> -->
      <div class="title">
          <!--<h1>ADVAITA is on!</h1>-->
      </div>
      <h1>vgfcgcc</h1>

      <div class="overlay">
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Sponsors</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </div>
  </div>
      <div id="anilogo"  ></div>
      <div id="upper" ></div>
  <script src="/javascripts/bodymovin.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.4.2/lottie.js"></script>-->
  <script src="/javascripts/index.js"></script>
  </body>
</html>
