<!DOCTYPE html>
<html>
<head>
	<title></title>
	    <link rel="stylesheet" href="/stylesheets/navbar.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/background.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index1.css">
	<!--<link rel="stylesheet" media="screen and (max-width: 720px)" type="text/css" href="/stylesheets/indexResponsive.css">-->

</head>
<body>
	<% include navbar %>
	<!-- background layer 1 -->
	<!-- <div class="background"> -->

			<div id="d1"><div id="d2"><div id="d3"></div></div></div>

			</div>

			<article id="wrap">
				<article id="lightings">
					<section id="one">
						<section id="two">
							<section id="three">
								<section id="four">
									<section id="five">
										
									</section>
								</section>
							</section>
						</section>
					</section>
				</article>
			</article>

	<img class="logo" src="/images/advaita.png">
	<div id="logo" ></div>
	<div id="bm"></div>
	<img class="tent" src="/images/tent.png">
	<img class="wheel" src="/images/wheel.png">
	<div class="bottom"></div>
	<div id="roller"></div>
	<img class="balloon1" src="/images/balloon.png">
	<img class="balloon2" src="/images/balloon.png">
	 <div class="light"></div>
	<div class="light"></div> 


<!-- Javascript links -->
<script src="/javascripts/bodymovin.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/menu.js"></script>
</body>
</html>