  <div class="button_container" id="toggle" onclick="hidenav()">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

  <div class="overlay" id="overlay">
    <div class="complete"></div>
    <div class="overlay-menu">
      <ul class="list-hover-slide" >
        <% if(typeof currentUser == 'object' && currentUser.length != 0 ){ %>
          <li><a href="/dashboard">Dashboard</a></li>
        <% } else {%>
          <li><a href="/register">Register</a></li>
        <% }%>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/pronight">Pro Nights</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/sponsors">Sponsors</a></li> 
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>