  <div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div class="overlay" id="overlay">
  <div class="overlay-menu">
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="events">Events</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Sponsors</a></li>  
    </ul>
  </div>
</div>