<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (min-width: 720px)"  type="text/css" href="/stylesheets/pronight.css">
	<link rel="stylesheet" media="screen and (max-width: 720px)" type="text/css" href="/stylesheets/pronightresponsive.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <title>ADVAITA</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
    <!--<link rel="stylesheet" href="/stylesheets/pronight.css">-->
     <link rel="stylesheet" href="/stylesheets/navbar.css"> 
</head>
<body>
    <% include navbar %>
    	<canvas id='c'></canvas>
    <a href="/"><img class="logoheading" src="/images/advaita.png"></a>
    <center><p class="heading" >PRONITES</p></center>
        <div class="second">
            <img class="img1" src="images/pronight/1.jpg">
            <img class="img2" src="images/pronight/3.jpg">
            <a class="download1" href="images/pronight/p2.jpeg" download="ADVAITA Pronite" >Download E-PASS</a>
        </div>
        <div class="first">
            <img class="img5" src="images/pronight/5.jpg">
            <a class="download" href="images/pronight/p1.jpeg" download="ADVAITA Pronite">Download E-Pass</a>
            
        </div>
        <div class="third">
            <img class="img3" src="images/pronight/2.jpg">
            <img class="img4" src="images/pronight/4.jpg">
            <a class="download2" href="images/pronight/p3.jpeg" download="ADVAITA Pronite" >Download E-PASS</a>
        </div>
        <div class="fourth"></div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
        <script src="/javascripts/events.js"></script>
        <script src="/javascripts/menu.js"></script>
        <script src="javascripts/back.js"></script>
    
</body>
</html>