<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Sponsors</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/sponsors.css">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
    <% include navbar %>
    <a href="/main"><img class="logoheading" src="/images/advaita.png"></a>
    <h1>TITLE SPONSORS</h1>
       <div class="container" id="title">
           <div class="card-columns">
               <div class="card">
               <img alt="Card image cap" class="card-img-top img-fluid"  src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/08/09/10/coco-cola.jpg?w968">
               </div>
               <div class="card">
               <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.etv.co.za/sites/etv.co.za/files/styles/large/public/coke_1_1.jpg?itok=QHtJO1mn">
               </div>
           </div>
       </div>
        <div class="container" id="title">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://static-news.moneycontrol.com/static-mcnews/2018/09/407911-nalco-770x433.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.iocl.com/images/static/indianoil_logo.jpg">
                </div>
            </div>
        </div>
        <h1>OTHER SPONSORS</h1>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.electronicdesign.com/sites/electronicdesign.com/files/styles/article_featured_standard/public/uploads/2016/10/ti.png?itok=8qnJVWx3">
                </div>               
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://image3.mouthshut.com/images/imagesp/925880205s.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://i0.wp.com/whataftercollege.com/wp-content/uploads/2017/05/rcpl.png?fit=250%2C190">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://static.adweek.com/adweek.com-prod/wp-content/uploads/files/blogs/google-logo-hed-2014.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.efindout.com/wp-content/uploads/2016/04/Andhra-Bank.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://cdn1.tvnz.co.nz/content/dam/images/news/2018/11/06/ola.jpg.hashed.af7924e1.desktop.story.inline.jpg">
                </div>               
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2015/12/27/409033-asusrepublicofgamersroghdbyleandrojvarini-d4cca47-edited.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.socialsamosa.com/wp-content/uploads/2013/01/ICICI-bank-e1359031123634.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://d2j1mo4repc142.cloudfront.net/cdn/142218/media/wysiwyg/logos/skybags-logo.jpg">
                </div>               
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.bucdays.com/wp-content/uploads/Pepsi-logo-in-box-300x300.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Association_for_Computing_Machinery_%28ACM%29_logo.svg/300px-Association_for_Computing_Machinery_%28ACM%29_logo.svg.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.livenewson.com/wp-content/uploads/2015/04/Odisha-TV-1.png">
                </div>                
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/logopedia/images/5/52/Reliance_Trends_Logo.jpg/revision/latest/scale-to-width-down/280?cb=20181213104105">
                </div>                
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://static.digit.in/default/artImg198x166_8569.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://1.bp.blogspot.com/-vsgFu4Rj-_M/VVDVDhUOzKI/AAAAAAAAAjw/yfnfOtPgCaI/s400/unnamed.jpg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://sopro.io/wp-content/uploads/2016/09/sopro_final_72.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.carlogos.org/logo/Chevrolet-logo-2013-640x281.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://s.yimg.com/ny/api/res/1.2/YJmrhrtb99jgwbBGiOPfHA--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NjIwO2g9MjM1/http://media.zenfs.com/en-US/homerun/zacks.com/6471bac5cfa449a2ce8cf60d86f0145d">
                </div>               
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Dell_logo_2016.svg/200px-Dell_logo_2016.svg.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/18835950_809652789208097_225313849695098440_n.png?_nc_cat=102&_nc_ht=scontent.fbbi1-1.fna&oh=61b67ab246f463e310f9b29bb1197e28&oe=5C960AE4">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d0/GAIL_Logo.svg/200px-GAIL_Logo.svg.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://5.imimg.com/data5/QY/KQ/ZK/SELLER-7531852/slazenger-kids-t-shirts-120x120.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://pngimage.net/wp-content/uploads/2018/06/indian-express-logo-png-7.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://i0.wp.com/inc42.com/wp-content/uploads/2012/08/tw.jpg?w=625&ssl=1">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.nuaodisha.com/images/Contents/NuaOdisha-129-idco_logo.jpg">
                </div>
                
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/TEESHOOD_Logo_1024.png/600px-TEESHOOD_Logo_1024.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://1000logos.net/wp-content/uploads/2017/05/NVIDIA-Logo-500x348.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/21/IEEE_logo.svg/250px-IEEE_logo.svg.png">
                </div>
               
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.litindia.in/images/lit_logo.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://images.click.in/classifieds/images/190/28_06_2017_10_59_26_7pbrqi3a3f3b1h3ruvh5a3je37_6dgxkbho2i.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a0/Bharat_Petroleum_Logo.svg/220px-Bharat_Petroleum_Logo.svg.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.mockbank.com/bulletin/wp-content/uploads/2016/06/BANK-OF-INDIA-LOGO.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://yt3.ggpht.com/a-/AAuE7mB3c5l6zEkHXbBA7FxqnaPBs3QMj9glBq0gGA=s288-mo-c-c0xffffffff-rj-k-no">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.empireshotel.com/admin/assets/user/images/logo.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://edugorilla.com/wp-content/uploads/2017/12/cl1.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.ntpc.co.in/sites/all/themes/ntpc/images/ntpc-logo.svg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Decathlon_Logo.png/799px-Decathlon_Logo.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.thefirstteeeastlake.org/wp-content/uploads/sites/99/2016/07/hp-logo-300x140.jpg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.fetchlogos.com/wp-content/uploads/2015/12/Big-Bazaar-Logo-600x319.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://3.bp.blogspot.com/-PXrvmgBfY5Y/WxeQQIcopGI/AAAAAAAAAnI/rIFiIXVtGNwSaUQmm8lUWsArChOjUYUfACPcBGAYYCw/s1600/omc-logo.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-0/p370x247/12391407_797198397069886_3590384963018196159_n.jpg?_nc_cat=105&_nc_ht=scontent.fbbi1-1.fna&oh=7a25f28af09551a9806f33815571c80b&oe=5C8D2645">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.btvi.in/media/images/news/Zoomca.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/15826001_779650158850230_8484547691925326153_n.jpg?_nc_cat=109&_nc_ht=scontent.fbbi1-1.fna&oh=18d9c14edadacabf3437352c7fc7f545&oe=5C9F1D5E">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/19399330_1411214912305006_8517181322162700623_n.jpg?_nc_cat=101&_nc_ht=scontent.fbbi1-1.fna&oh=4b12c72b7b4e63fcd23bf638606b0339&oe=5C986DF5">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">  
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://printlinkindia.com/wp-content/uploads/2018/05/printlink-logo-1_4c6147ec655dff1c1600991dee10247f.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.endeavorcareers.com/wp-content/uploads/2017/02/cropped-endeavor-logo-768x243.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://1.bp.blogspot.com/-e5U795fCCdQ/WU5aVMf8GkI/AAAAAAAAABs/fkikl8_teHk-Gglj8m7Qpy9TjorhzbTPACLcBGAs/s1600/OCAC%2Blogo.jpg">
                </div>                
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1f/SAIL_Logo.svg/200px-SAIL_Logo.svg.png">
                </div>               
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/13902610_318775458458524_759474491675742056_n.png?_nc_cat=110&_nc_ht=scontent.fbbi1-1.fna&oh=14191eb07f0548f6ff2b9367e256db49&oe=5C98A098">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.nuaodisha.com/images/Contents/NuaOdisha-112914-occ.jpg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://content3.jdmagicbox.com/comp/bhubaneshwar/u3/0674px674.x674.160326154503.l2u3/catalogue/vajirao-ias-academy-pvt-ltd--bhubaneshwar-e1j5m.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://cloud.millenniumpost.in/3862p9VMhi6rv2WoUTBHFqV8DHAlFWioqe4k9856522/3862p9vmhi6rv2woutbhfqv8dhalfwioqe4k9856522.jpeg">
                </div>
              
            </div>
        </div>
     <script src="/javascripts/menu.js"></script>  
    </body>
</html>
