<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ADVAITA</title>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/sponsors.css">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
    <% include navbar %>
    <canvas id='c'></canvas>
    <!--<canvas id='c' style="position:absolute;top:100%"></canvas>-->
    <!--<canvas id='c' style="top:100%"></canvas>-->
    <!--<div id="align"><a href="/sponsors2k18" ><button id="lastyear" class="offset" >Sponsors 2018</button></a></div>-->
    <a href="/sponsors2k18" ><button id="lastyear" class="offset" >Sponsors 2018</button></a>
    <a href="/"><img class="logoheading" src="/images/advaita.png"></a>
    <p class="heading" >SPONSORS</p>
    <!--<h1>TITLE SPONSORS</h1>-->
    <!--   <div class="container" id="title">-->
    <!--       <div class="card-columns">-->
    <!--           <div class="card">-->
    <!--           <img alt="Card image cap" class="card-img-top img-fluid"  src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/08/09/10/coco-cola.jpg?w968">-->
    <!--           </div>-->
    <!--           <div class="card">-->
    <!--           <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.etv.co.za/sites/etv.co.za/files/styles/large/public/coke_1_1.jpg?itok=QHtJO1mn">-->
    <!--           </div>-->
    <!--           <div class="card">-->
    <!--                <img alt="Card image cap" class="card-img-top img-fluid" src="https://static-news.moneycontrol.com/static-mcnews/2018/09/407911-nalco-770x433.jpg">-->
    <!--            </div>-->
    <!--            <div class="card">-->
    <!--                <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.iocl.com/images/static/indianoil_logo.jpg">-->
    <!--            </div>-->
    <!--       </div>-->
    <!--   </div>-->
        <h1 id="other">In Association With</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.bestmediainfo.com/wp-content/uploads/2016/11/VH1_Logo_HD.jpg">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://tvnews4u.com/wp-content/uploads/2016/09/MTV-BEATS.jpg">
                </div>
           </div>
       </div>
       <h1 id="other">Music Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://tvnews4u.com/wp-content/uploads/2017/06/gaana-logo.jpg">
                </div>
           </div>
       </div>
       <h1 id="other">Driven By</h1>
       <div class="container">
           <div class="card-columns">
               <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://cdn.shopify.com/s/files/1/0035/2990/0150/products/57_2b489df3-e386-4b53-993f-1a95a71d01bd_grande.jpg?v=1527868265">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.motorsireland.ie/wp-content/uploads/2018/08/new-skoda-logo.jpg">
                </div>
           </div>
       </div>
       <h1 id="other">Media Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://s3-ap-south-1.amazonaws.com/cdn.odishatv.in/wp-content/uploads/2018/08/25121339/opts_OTV_Logo.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.afaqs.com/all/news/images/news_story_grfx/2015/07/44806/The-Indian-Express.jpg">
                </div>
           </div>
       </div>
       <h1 id="other">Merchandise Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://media.licdn.com/dms/image/C510BAQFXn5p6_jMndA/company-logo_200_200/0?e=1554940800&v=beta&t=YVuyjGLaT1IYqnzphiTzsqTg53BcpViPFRgVmiWOV1Q">
                </div>
           </div>
       </div>
       <h1 id="other">Banking Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card" style="margin: 0 auto;">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.efindout.com/wp-content/uploads/2016/04/Andhra-Bank.png">
                </div>
                <div class="card" style="margin: 0 auto;">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://static.sify.com/cms/image/scoojPhhhiici.jpg">
                </div>
           </div>
       </div>
       
       <h1 id="other">Radio Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.afaqs.com/all/news/images/news_story_grfx/2015/05/44373/Big-FM.jpg">
                </div>
           </div>
       </div>
       <!--<h1 id="other">Fitness Partner</h1>-->
       <!--<div class="container">-->
       <!--    <div class="card-columns">-->
       <!--         <div class="card">-->
       <!--             <img alt="Card image cap" class="card-img-top img-fluid" src="/images/fitnesssponsor.jpeg">-->
       <!--         </div>-->
       <!--    </div>-->
       <!--</div>-->
       <h1 id="other">Youth Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://disqgp98jrg9d.cloudfront.net/static/marketing/images/logo-light-bg.1337f48ec219.png">
                </div>
           </div>
       </div>
       <!--<h1 id="other">Styled By</h1>-->
       <!--<div class="container">-->
       <!--    <div class="card-columns">-->
       <!--         <div class="card">-->
       <!--             <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.headturnersbbsr.com/images/logo_headturner.png">-->
       <!--         </div>-->
       <!--    </div>-->
       <!--</div>-->
       <h1 id="other">Energy Drink Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://logos-download.com/wp-content/uploads/2016/04/Monster_Energy_logo_black.jpg">
                </div>
           </div>
       </div>
       
       <h1 id="other">Ticket Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.thetechy.com/wp-content/uploads/2017/01/book-my-show.png">
                </div>
           </div>
       </div>
       <h1 id="other">Education Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://s3.amazonaws.com/zaubatrademarks/cd236595-61d7-4949-baa1-22f341999686.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://media.glassdoor.com/sqll/325363/ims-learning-resources-squarelogo.png">
                </div>
           </div>
       </div>
       <h1 id="other">Food Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card" style="margin: 0 auto;">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="/images/food1.jpeg">
                </div>
                <div class="card" style="margin: 0 auto;">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="/images/food2.jpeg">
                </div>
                <!--<br>-->
                <div class="card" style="margin: 0 auto;">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="/images/food3.png">
                </div>
           </div>
       </div>
       <h1 id="other">Fragrance Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://denverformen.com/media/logo/Hamilton_Flat_Logo_250pxW.png">
                </div>
           </div>
       </div>
       <h1 id="other">Travel Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://d1hl0z0ja1o93t.cloudfront.net/wp-content/uploads/2016/09/13140623/rapido_Logo-Copy.png">
                </div>
           </div>
       </div>
       <h1 id="other">Beauty and Salon Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="https://content3.jdmagicbox.com/comp/hyderabad/r2/040pxx40.xx40.170519084512.p8r2/catalogue/green-madhapur-hyderabad-beauty-spas-2ocq9kr.jpg">
                </div>
           </div>
       </div>
       <h1 id="other">Associate Salon Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.accesscard.org.uk/wp-content/uploads/2016/11/tony-guy-logo.png">
                </div>
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="http://www.headturnersbbsr.com/images/logo_headturner.png">
                </div>
           </div>
       </div>
       <h1 id="other">Electronics Partner</h1>
       <div class="container">
           <div class="card-columns">
                <div class="card">
                    <img alt="Card image cap" class="card-img-top img-fluid" src="/images/bacground/sagu.jpeg">
                </div>
           </div>
       </div>


    <script src="javascripts/back.js"></script>
    <script src="/javascripts/menu.js"></script>  
    </body>
</html>
