<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/team.css">
    <script src="https://rawgit.com/ironwallaby/delaunay/master/delaunay.js" ></script>
    <script src="http://requirejs.org/docs/release/2.1.15/minified/require.js" ></script>
    <title>Team</title>
</head>
<body>
  <div id="particles-js"></div>

  <a href="/main"><img class="logo" src="/images/advaita.png"></a>
  	<% include navbar %>
    <header>
        <div class="container">
            <div class="text-center">
                <p class="heading">ThE TeaM</p>
            </div>
        </div>
    </header>
    <br>
<div class="sub-heading">
    <h1>Public Relations</h1>
</div>

<div id="team1">
  <figure class="snip1344"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample1.jpg" alt="profile-sample1" class="background"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample1.jpg" alt="profile-sample1" class="profile"/>
    <figcaption>
      <h3>Ursula Gurnmeister<span>Engineer</span></h3>
      <div class="icons"><a href="#"><i class="ion-social-github-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
  <figure class="snip1344 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample7.jpg" alt="profile-sample7" class="background"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample7.jpg" alt="profile-sample7" class="profile"/>
    <figcaption>
      <h3>Jason Response<span>Photographer</span></h3>
      <div class="icons"><a href="#"><i class="ion-social-github-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
  <figure class="snip1344"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="background"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Druid Wensleydale<span>Accountant</span></h3>
      <div class="icons"><a href="#"><i class="ion-social-github-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
  <figure class="snip1344"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="background"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Druid Wensleydale<span>Accountant</span></h3>
      <div class="icons"><a href="#"><i class="ion-social-github-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>
<br>
<div class="sub-heading">
    <h1>Sponsorship</h1>
</div>
<div id="team1">
    <figure class="snip1344"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample1.jpg" alt="profile-sample1" class="background"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample1.jpg" alt="profile-sample1" class="profile"/>
      <figcaption>
        <h3>Ursula Gurnmeister<span>Engineer</span></h3>
        <div class="icons"><a href="#"><i class="ion-social-github-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
      </figcaption>
    </figure>
    <figure class="snip1344 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample7.jpg" alt="profile-sample7" class="background"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample7.jpg" alt="profile-sample7" class="profile"/>
      <figcaption>
        <h3>Jason Response<span>Photographer</span></h3>
        <div class="icons"><a href="#"><i class="ion-social-github-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
      </figcaption>
    </figure>
    <figure class="snip1344"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="background"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="profile"/>
      <figcaption>
        <h3>Druid Wensleydale<span>Accountant</span></h3>
        <div class="icons"><a href="#"><i class="ion-social-github-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
      </figcaption>
    </figure>
  </div>
  
<script src="/javascripts/bkrnd.js"></script>
<script>
    $(".hover").mouseleave(
    function () {
        $(this).removeClass("hover");
        }
    );

</script>
</body>
</html>