<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"></script>
     <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/team.css">
    <script src="https://rawgit.com/ironwallaby/delaunay/master/delaunay.js" ></script>
    <script src="http://requirejs.org/docs/release/2.1.15/minified/require.js" ></script>
    <title>ADVAITA</title>
</head>
<body>
  <!--<div id="particles-js"></div>-->
  	<canvas id='c'></canvas>
  <a href="/"><img class="logoheading" src="/images/advaita.png"></a>
  	<% include navbar %>
  
    <header>
        <div class="container">
            <div class="text-center">
                <p class="heading">ThE TeaM</p>
            </div>
        </div>
    </header>
    <br>

<!-- <div class="sub-heading">
    <h1>Convener</h1>
</div> -->
<div id="team1">
    <figure class="snip1344"><img src="/team/arijeet.jpeg" alt="profile-sample6" class="background"/><img src="/team/arijeet.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Arijeet Satapathy<span>Convener</span></h3>
      <p>+91-7978756707</p>
      <div class="icons"><a href="https://www.facebook.com/arijeet.satapathy"><i class="ion-social-facebook-outline"></i></a> <a href="http://linkedin.com/in/arijeetsat/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
    <figure class="snip1344"><img src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-9/44113546_10215214932319449_4816287119263662080_n.jpg?_nc_cat=103&_nc_ht=scontent.fagr1-1.fna&oh=07bd6f0fadf0c1047f9e73d5514227dd&oe=5CD78E8C" alt="profile-sample6" class="background"/><img src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-9/44113546_10215214932319449_4816287119263662080_n.jpg?_nc_cat=103&_nc_ht=scontent.fagr1-1.fna&oh=07bd6f0fadf0c1047f9e73d5514227dd&oe=5CD78E8C" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Uttariyo Saha<span>Convener</span></h3>
      <p>+91-6371096213</p>
      <div class="icons"><a href="https://www.facebook.com/uttariyo.saha"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/uttariyo-saha-aa3096144/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>


<!-- <div class="sub-heading">
    <h1>Treasurer</h1>
</div> -->
<div id="team1" >
  <figure class="snip1344"><img src="/team/Neeti.jpeg" alt="profile-sample6" class="background"/><img src="/team/Neeti.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Neeti Yadav<span>Treasurer</span></h3>
      <p>+91-8817746711</p>
      <div class="icons"><a href="https://www.facebook.com/neeti.yadav.3?ref=br_rs"><i class="ion-social-facebook-outline"></i></a></div>
    </figcaption>
  </figure>
</div>
<br>
<!-- <div class="sub-heading">
    <h1>Technical Head</h1>
</div> -->
<div id="team1" >
  <figure class="snip1344"><img src="/team/Sai Saswat.jpeg" alt="profile-sample6" class="background"/><img src="/team/Sai Saswat.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Sai Saswat Sahu<span>Technical Head</span></h3>
      <p>+91-8895058218</p>
      <div class="icons"><a href="https://m.facebook.com/saisaswat.sahu"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/sai-saswat-5b178586/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
  <figure class="snip1344"><img src="/team/harsh.jpeg" alt="profile-sample6" class="background"/><img src="/team/harsh.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Harsh Singh<span>Cult Head</span></h3>
      <p>+91-9938143834</p>
      <div class="icons"><a href="https://www.facebook.com/harsh.930"><i class="ion-social-facebook-outline"></i></a></div>
    </figcaption>
  </figure>
  <figure class="snip1344"><img src="/team/manish.jpeg" alt="profile-sample6" class="background"/><img src="/team/manish.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Manish Ray<span>Design and Deco Head</span></h3>
      <p>+91-8458058907</p>
      <div class="icons"><a href="https://www.facebook.com/Ray.Manish0"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/manish-ray-aa157a12a/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
  <figure class="snip1344"><img src="/team/Priyaranjan.jpeg" alt="profile-sample6" class="background"/><img src="/team/Priyaranjan.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Priyaranjan Satapathy<span>Print & Media Head</span></h3>
      <p style="margin-top: -3%;">+91-9907019404</p>
      <div class="icons"><a href="https://m.facebook.com/priyaranjan.134"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/priyaranjan-satapathy-b416038/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
  <figure class="snip1344"><img src="/team/prateek.jpeg" alt="profile-sample6" class="background"/><img src="/team/prateek.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Prateek Brahma<span>Quiz Head</span></h3>
      <p style="margin-top: -3%;">+91-8763267019</p>
      <div class="icons"><a href="https://www.facebook.com/prateek.brahma"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/prateek-brahma-210b25130"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>

<div class="sub-heading">
  <h1>Web Team</h1>
</div>
<div id="team1">
<figure class="snip1344"><img src="https://avatars3.githubusercontent.com/u/33354423?s=460&v=4" alt="profile-sample1" class="background"/><img src="https://avatars3.githubusercontent.com/u/33354423?s=460&v=4" alt="profile-sample1" class="profile"/>
  <figcaption>
    <h3>Sandeep Patel<span>Developer</span></h3>
    <p>+91-9064507905</p>
    <div class="icons"><a href="https://www.facebook.com/sandeep.patel.756412"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/sandeep-patel-80709715b/"> <i class="ion-social-linkedin-outline"></i></a><a href="https://github.com/suicide11"> <i class="ion-social-github-outline"></i></a></div>
  </figcaption>
</figure>
      <figure class="snip1344"><img
          src="https://avatars.githubusercontent.com/u/44670125?v=4"
          alt="profile-sample1" class="background" /><img
          src="https://avatars.githubusercontent.com/u/44670125?v=4"
          alt="profile-sample1" class="profile" />
        <figcaption>
          <h3>B M Priyesh Kumar<span>Developer</span></h3>
          <p>+91-9773097480</p>
          <div class="icons">
            <!-- <a href="https://www.facebook.com/sandeep.patel.756412"><i
                class="ion-social-facebook-outline"></i></a> -->
            <a href="https://www.linkedin.com/in/b-m-priyesh-kumar-5bba25242/">
              <i class="ion-social-linkedin-outline"></i></a>
            <a
              href="https://github.com/pri11dev"> <i class="ion-social-github-outline"></i></a>
          </div>
        </figcaption>
      </figure>
<figure class="snip1344 hover"><img src="https://avatars0.githubusercontent.com/u/35494189?s=460&v=4" alt="profile-sample7" class="background"/><img src="https://avatars0.githubusercontent.com/u/35494189?s=460&v=4" alt="profile-sample7" class="profile"/>
  <figcaption>
    <h3>Pranay Agarwal<span>Developer</span></h3>
    <p>+91-9149341125</p>  
    <div class="icons"><a href="https://www.facebook.com/pranayag15"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/pranay-agarwal-968b87157/"> <i class="ion-social-linkedin-outline"></i></a><a href="https://github.com/pranayag15"> <i class="ion-social-github-outline"></i></a><a href="https://www.instagram.com/pranayag16/"><i class="ion-social-instagram-outline"></i></a></div>
  </figcaption>
</figure>
<figure class="snip1344"><img src="/team/chinu.jpeg" alt="profile-sample6" class="background"/><img src="/team/chinu.jpeg" alt="profile-sample6" class="profile"/>
  <figcaption>
    <h3>Chinmay Singh<span>Designer</span></h3>
    <p>+91-9079274188</p>
    <div class="icons"><a href="https://www.facebook.com/chinmay.bing"><i class="ion-social-facebook-outline"></i></a> <a href="#"> <i class="ion-social-linkedin-outline"></i></a><a href="https://github.com/Legion-31"><i class="ion-social-github-outline"></i></a></div>
  </figcaption>
</figure>
<figure class="snip1344"><img src="/team/Aditya.jpeg" alt="profile-sample6" class="background"/><img src="/team/Aditya.jpeg" alt="profile-sample6" class="profile"/>
  <figcaption>
    <h3>Aditya Prakash<span>Developer</span></h3>
    <p>+91-9437585640</p>
    <div class="icons"><a href="https://www.facebook.com/adiprakash0610"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/aditya-prakash-39608a140"> <i class="ion-social-linkedin-outline"></i></a><a href="https://github.com/adityaprakash-bobby"><i class="ion-social-github-outline"></i></a></div>
  </figcaption>
</figure>
</div>
<div class="sub-heading">
    <h1>Sponsorship Team</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/arghydeep.jpeg" alt="profile-sample6" class="background"/><img src="/team/arghydeep.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Arghyadeep Mohanty<span>Sponsorship Head</span></h3>
      <p>+91-9439666607</p>
      <div class="icons"><a href="https://www.facebook.com/iArdeep"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/arghyadeep-mohanty-419630"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
    <figure class="snip1344"><img src="/team/Sweta Kabi.jpeg" alt="profile-sample6" class="background"/><img src="/team/Sweta Kabi.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Sweta Kabi<span>Sponsorship Head</span></h3>
      <p>+91-7064670325</p>
      <div class="icons"><a href="https://www.facebook.com/profile.php?id=100007696366556"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/sweta-kabi-a1532b158"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>
<br>
<div class="sub-heading">
    <h1>Sports Team</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/samyak.jpeg" alt="profile-sample6" class="background"/><img src="/team/samyak.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Samyak Darshan Nayak<span>Sports Head</span></h3>
      <p style="margin-top: -3%;">+91-9439814252</p>
      <div class="icons"><a href="https://www.facebook.com/samyak.darshan.1"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/samyak-nayak-a579b2157/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
    <figure class="snip1344"><img src="/team/sibasis.jpeg" alt="profile-sample6" class="background"/><img src="/team/sibasis.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Sibasis Sarangi<span>Sports Head</span></h3>
      <p>+91-9937814201</p>
      <div class="icons"><a href="https://www.facebook.com/sibasish.sarangi.9"><i class="ion-social-facebook-outline"></i></a></div>
    </figcaption>
  </figure>
</div>

<div class="sub-heading">
    <h1>Photography Team</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/sarthak.jpeg" alt="profile-sample6" class="background"/><img src="/team/sarthak.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Sarthak Pattnaik<span>Photography Head</span></h3>
      <p>+91-8093705654</p>
      <div class="icons"><a href="https://www.facebook.com/sarthak.pattanaik.7140"><i class="ion-social-facebook-outline"></i></a></div>
    </figcaption>
  </figure>
    <figure class="snip1344"><img src="/team/SwetaSwagatika.jpeg" alt="profile-sample6" class="background"/><img src="/team/SwetaSwagatika.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Sweta Swagatika<span>Photography Head</span></h3>
      <p>+91-9776335260</p>
      <div class="icons"><a href="https://www.facebook.com/s.swagatika27"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/sweta-swagatika-906377154/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>
<br>

<div class="sub-heading">
    <h1>Publicity Team</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/Abhishek Anmol.jpeg" alt="profile-sample6" class="background"/><img src="/team/Abhishek Anmol.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Abhishek Anmol<span>Publicity Head</span></h3>
      <p>+91-9939656575</p>
      <div class="icons"><a href="https://www.facebook.com/profile.php?id=100004774771824"><i class="ion-social-facebook-outline"></i></a></div>
    </figcaption>
  </figure>
    <figure class="snip1344"><img src="/team/Supriya.jpeg" alt="profile-sample6" class="background"/><img src="/team/Supriya.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Sai Supriya<span>Publicity Head</span></h3>
      <p>+91-8895538824</p>
      <div class="icons"><a href="https://www.facebook.com/profile.php?id=100008652372974"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/s-supriya-8746b2163/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>

<div class="sub-heading">
    <h1>Public Relation Team</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/abhishek.jpeg" alt="profile-sample6" class="background"/><img src="/team/abhishek.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Abhishek Srivastava<span>Public Relation Head</span></h3>
      <p>+91-9938146537</p>
      <div class="icons"><a href="https://www.facebook.com/profile.php?id=100019333568317"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/abhishek-srivastava-627835133/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
      <figure class="snip1344"><img src="/team/Sneha Das.jpeg" alt="profile-sample6" class="background"/><img src="/team/Sneha Das.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Sneha Das<span>Public Relation Head</span></h3>
      <p>+91-8895495430</p>
      <div class="icons"><a href="https://www.facebook.com/sneha.das.3538"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/sneha-das-56b98b157"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>

<div class="sub-heading">
    <h1>Hospitality</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/RajTilak.jpeg" alt="profile-sample6" class="background"/><img src="/team/RajTilak.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Raj Tilak<span>Hospitality Head</span></h3>
      <p>+91-9938143477</p>
      <div class="icons"><a href="https://www.facebook.com/m.achyuthrajtilak"><i class="ion-social-facebook-outline"></i></a></div>
    </figcaption>
  </figure>
      <figure class="snip1344"><img src="/team/ark.jpeg" alt="profile-sample6" class="background"/><img src="/team/ark.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Kumar Ark<span>Hospitality Head</span></h3>
      <p>+91-9938193410</p>
      <div class="icons"><a href="https://www.facebook.com/kumarark"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/kumar-ark/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>

<div class="sub-heading">
    <h1>Food and Refreshments Team</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/Baibhav.jpeg" alt="profile-sample6" class="background"/><img src="/team/Baibhav.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Baibhav Kumar<span>Food And Refreshment</span></h3>
      <p>+91-9938066046</p>
      <div class="icons"><a href="https://www.facebook.com/baibhav.kumar.1004"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/baibhav-kumar-3a6416138/"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
      <figure class="snip1344"><img src="/team/amit.jpeg" alt="profile-sample6" class="background"/><img src="/team/amit.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Amit Das<span>Food And Refreshment</span></h3>
      <p>+91-7538945485</p>
      <div class="icons"><a href="https://www.facebook.com/profile.php?id=100016740454382"><i class="ion-social-facebook-outline"></i></a></div>
    </figcaption>
  </figure>
</div>
<div class="sub-heading">
    <h1>Student Welfare</h1>
</div>
<div id="team1" >
  <figure class="snip1344"><img src="/team/Bhagyalaxmi.jpeg" alt="profile-sample6" class="background"/><img src="/team/Bhagyalaxmi.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>G. Bhagyalaxmi<span>Student Welfare Head</span></h3>
      <p>+91-8018739191</p>
      <div class="icons"><a href="https://www.facebook.com/bhagya.laxmi.376258"><i class="ion-social-facebook-outline"></i></a> <a href="#"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
      <figure class="snip1344"><img src="/team/Adyasa.jpeg" alt="profile-sample6" class="background"/><img src="/team/Adyasa.jpeg" alt="profile-sample6" class="profile"/>
    <figcaption>
      <h3>Adyasa Satpathy<span>Student Welfare Head</span></h3>
      <p>+91-8908406663</p>
      <div class="icons"><a href="https://www.facebook.com/pandagirl.j"><i class="ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/in/adyasa-satapathy-379a4a161"> <i class="ion-social-linkedin-outline"></i></a></div>
    </figcaption>
  </figure>
</div>
  
<!--<script src="/javascripts/bkrnd.js"></script>-->
<script src="/javascripts/menu.js"></script>
<script src="javascripts/back.js"></script>
<script>
    $(".hover").mouseleave(
    function () {
        $(this).removeClass("hover");
        }
    );

</script>
</body>
</html>
