@font-face{
  src: url("../fonts/Bavro-Regular.ttf");
  font-family: bavro;
}
body
{
    overflow-x:hidden;
}
.contact-us{
    margin-top:-2%;
    width: 90%;
    padding-left: 5%;
    color:white;
    padding-bottom: 10%;
}
.contact{
    padding: 5%;
    text-align: center;
    font-family: 'bavro', serif;
    font-size: 8vh;
    letter-spacing: 10px;
}
.logoheading {
  position: absolute;
  height: 18vh;
  width: 25vh;
  margin-top: 0% ;
  margin-left: 0%;
}
/*body {*/
/*    font-family: sans-serif;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    background-color: #eee9e9;*/
/*    overflow: hidden;*/
/*    -webkit-user-select: none;*/
/*       -moz-user-select: none;*/
/*         -o-user-select: none;*/
/*        -ms-user-select: none;*/
/*            user-select: none;*/
/*}*/

canvas {
/*     position:absolute; */
    z-index:-999;
    position: fixed;
    filter:brightness(40%);
    top: 0;
    left: 0;
    height:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    
} 
a:hover{
    color: darkcyan;
    text-decoration: none;
}
h4{
    color: darkcyan;
}