.contact-us{
    margin-top:-2%;
    width: 90%;
    padding-left: 5%;
    color:white;
    padding-bottom: 10%;
}
.contact{
    padding: 5%;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 60px;
}
.logoheading {
  position: absolute;
  height: 18vh;
  width: 25vh;
  margin-top: 0% ;
  margin-left: 0%;
}