@font-face{
  src: url("../fonts/ONEDAY.ttf");
  font-family: oneday;
}
*{
	padding:0;
	margin:0;
}
body
{
	background-color: black;
	overflow: none;
	/*position:absolute;*/
	height:100%;
}
.footer
{
	position: absolute;
	font-family: oneday;
	top:95%;
	width: 100%;
	height: 5%;
	color:white;
	background-image: linear-gradient(black,darkcyan);
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 900;
	text-transform: uppercase;
}

.Status
{
	position: absolute;
	bottom: 1vh;
	left: 7%;
	color: white;
	text-decoration: none;
}
.Events
{
	position: absolute;
	bottom: 1vh;
	left: 45%;
	color: white;
	text-decoration: none;
}
.Logout
{
	position: absolute;
	bottom: 1vh;
	left: 80%;
	color: white;
	text-decoration: none;
}
.title
{
	position:relative;
	text-align: center;
	font-family: monospace;
	text-transform: capitalize;
	z-index:99;
	width:100%;
	background-color:black;
	opacity:0.6;
	color:white;
	font-size:3vh;
    margin-top:-20%;
}
.profile
{
	position: absolute;
	top: 5%;
	color: white;
	width: 100%;
	left: 0;
	overflow-x: hidden;
	text-align: center;
	font-size: 1vh;

}
.profile img
{
	padding-top: 5%;
	left: 30%;
	width: 30%;
	height: 40%;
	border-style: solid;
	border-color: black;
	border-radius: 50%;
}
.details
{
	text-align: center;
	color: white;
	top: 50%;
	font-size:2vh;
}
.progressdiv , .progressbar
{
	display: none;
}
.List
{
	/*padding-top: 5%;*/
	position: absolute;
	top: 45%;
	width: 100%;
	height:45%;
	font-size: 1.6vh;
	text-align: center;
	overflow-x: hidden;
	overflow-y:scroll;
}
#card
{
	position: relative;
	width: 80%;
	left: 10%;
	height: 40%;
	color: white;
	/*margin-top:3vh;*/
	margin-bottom:3vh;
}
/*.title*/
/*{*/
/*	text-align: center;*/
/*	padding-top:2vh;*/
/*}*/
.button
{
	text-align: center;
}
button
{
	cursor: default;
	background-color: black;
	color: white;
	border:none;
	padding: 4vh;
	font-size: 1.5vh;
}
.logoheading {
  position: absolute;
  height:10vh;
    width:15vh;
  margin-top: -1.5% ;
  margin-left: 0%;
  z-index: 100;
}
.logoheading:hover{
  filter: brightness(110%);
}
/*.large-header
{
	display: none;
}*/

canvas {
/*     position:absolute; */
    z-index:-999;
    position: fixed;
    filter:brightness(40%);
    top: 0;
    left: 0;
    height:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}