@font-face {
  src: url("../fonts/CutiveMono-Regular.ttf");
  font-family: cutive;
}
@font-face {
  src: url("../fonts/calendas_plus-webfont.ttf");
  font-family: calendar;
}
@font-face {
  src: url("../fonts/Reckoner.ttf");
  font-family: reckoner;
}
@font-face{
  src: url("../fonts/DenverRegular.ttf");
  font-family: denver;
}
@font-face{
  src: url("../fonts/Modeka.otf") format("opentype");
  font-family: modeka;
}
@font-face{
  src: url("../fonts/ONEDAY.ttf");
  font-family: oneday;
}
@font-face{
  src: url("../fonts/Prime\ Regular.otf") format("opentype");
  font-family: prime;
}
/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/

/* font-family: 'Lobster', cursive;
font-family: 'Varela Round', sans-serif; */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow-x:hidden;
 }

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -10;
  /* opacity: 0.7; */
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  filter: brightness(40%);
  background-size: cover;
}

#description {
font-family: 'Amaranth', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: white;
}

#title {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  letter-spacing: 4px;
  margin-top: 3vh;
  margin-bottom: 2vh;
  /*font-style: italic;*/
  color: whitesmoke;
  text-transform: uppercase;
}

#block {
  margin-left: 1.5em;
  margin-right: 0.5em;
}

#prize {
  font-size: 30px;
  color: white;
}

#amount {
  color: gold;
  font-size: 25px;
}

#symbol {
  font-size: 20px;
  color: white;
}
#box {
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 3%;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: white;
  font-family: calendar;
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-width: 0px;
  /* border-radius: var(--borderWidth); */
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 640px)
{
  #title
  {
    font-size:6vh;
  }
  html, body {
  height: 100%;
  width: 95%;
  padding: 0;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow-x:hidden;
 }
 #box {
  position: relative;
  display: flex;
  /*bottom: 5%;*/
  /*left: 3%;*/
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: white;
  font-family: calendar;
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
}
}