@font-face {
  src: url("../fonts/CutiveMono-Regular.ttf");
  font-family: cutive;
}
@font-face {
  src: url("../fonts/calendas_plus-webfont.ttf");
  font-family: calendar;
}
@font-face {
  src: url("../fonts/Reckoner.ttf");
  font-family: reckoner;
}
@font-face{
  src: url("../fonts/DenverRegular.ttf");
  font-family: denver;
}
@font-face{
  src: url("../fonts/Modeka.otf") format("opentype");
  font-family: modeka;
}
@font-face{
  src: url("../fonts/ONEDAY.ttf");
  font-family: oneday;
}
@font-face{
  src: url("../fonts/Prime\ Regular.otf") format("opentype");
  font-family: prime;
}
*{
    padding:0;
    margin:0;
}
body{
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    overflow-y: hidden;
    background-color: black;
    /*background-image:url(https://images.unsplash.com/photo-1515550962725-a254324472e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);*/
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    overflow: hidden;
}

.categoryhead{
    position: fixed;
    font-family: 'Quicksand', cursive;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.logoheading {
  position: absolute;
  height: 18vh;
  width: 25vh;
  margin-top: -1.5% ;
  margin-left: 0%;
  z-index: 100;
}
.event-nav
{
    z-index:999;
    position: absolute;
    top:30%;
    left:2%;
    width:16%;
    color:white;
    font-size:2vh;
    overflow-x:hidden;
}
.event-nav li
{
    padding-top:0.5vh;
    color:white;
}
.event-nav1
{
    z-index:999;
    position: absolute;
    top:30%;
    left:85%;
    color:white;
    font-size:2vh;
}
.event-nav1 li
{
    padding-top:0.5vh;
    color:white;
}
a{
    font-family: 'Raleway', sans-serif ;
    /*font-family: 'denver';*/
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 2.5vh;
    letter-spacing: 2px;
}
.active
{
box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}
.body1
{
    z-index:9;
    position:absolute;
    left:18%;
    top:16%;
    width:65%;
    height:80%;
    /*box-shadow: 1.5vh 1.5vh 10px #888888;*/
}
#framy {
    border: solid;
    border-width: 2px;
    border-color: #ffa260;
}
.back
{
    position:absolute;
    background-color:black;
    height:100%;
    width:100%;
    opacity:0.6;
    z-index: -1;
}
.raise{
  background: none;
  border: 2px solid #ffa260;
  font: inherit;
  line-height: 1;
  margin: 0.2em;
  padding: 1em 2em;
  width: 90%;
  cursor: pointer;
  /*z-index: -1;*/
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          border-color: darkcyan;
}
.raise {
  color: #ffa260;
  /*color: darkcyan;*/
  --hover: darkcyan;
}

#notch
{
 position:absolute;
 z-index:9999;
 left:2.5%;
 cursor:pointer;
 font-size:2.5vh;
 top:48%;
 left:5vh;
 background-color:darkcyan;
 padding:2vh;
 color:white;
 transform: rotate(90deg);
	transform-origin: left top 0;
	float: left;
	display:none;
	text-transform: uppercase;
}
#notch1
{
 position:absolute;
 z-index:999;
 left:2.5%;
 cursor:pointer;
 font-size:2vh;
 top:58%;
 /*left:103%;*/
 left:92.5%;
 background-color:black;
 padding-top:2vh;
 padding-left: 2vh;
 padding-right: 2vh;
 
 color:white;
 transform: rotate(270deg);
	transform-origin: left top 0;
	float: left;
	display:none;
}
#notch-menu
{
    position:absolute;
    z-index:9999;
    height:100%;
    width:80%;
    /*background-image:url(https://images.unsplash.com/photo-1515550962725-a254324472e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);*/
    background-size:cover;
    background-color:black;
    /*filter:brightness(40%);*/
    background-repeat:no-repeat;
    background-position:left;
    overflow-y:scroll;
    display:none;
}
#notch-menu1
{
    position:absolute;
    z-index:9999;
    left:20%;
    height:100%;
    width:80%;
    background-image:url(https://images.unsplash.com/photo-1515550962725-a254324472e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
    background-size:cover;
    filter:brightness(40%);
    background-repeat:no-repeat;
    background-position:left;
    display:none;
}
#mobile , #mobile1
{
    z-index:9999;
    display:none;
}
#close
{
    position:absolute;
    border: 2px solid #ffa260;
    color: #ffa260;
    background:none;
    color:white;
    left:10%;
    width:20%;
    top:5%;
    left:55%;
    border-radius:10vh;
    height:5%;
    text-align:center;
    z-index:9999;
    display:none;
    
}
#close1
{
    position:absolute;
    border: 2px solid #ffa260;
    color: #ffa260;
    background:none;
    color:white;
    left:10%;
    width:20%;
    top:5%;
    left:50%;
    height:5%;
    text-align:center;
    z-index:9999;
    display:none;
    
}

@media (max-width: 640px)
{
    .desktop
    {
        display:none;
    }
    #notch ,#notch1
    {
        display:block;
    }
    .body1
{
    z-index:9;
    position:absolute;
    left:8%;
    top:15%;
    width:87%;
    height:80%;
    /*box-shadow: 1.5vh 1.5vh 10px #888888;*/
}
 
 .event-nav1
{
    z-index:999;
    position: absolute;
    top:30%;
    left:50%;
    color:white;
    font-size:2vh;
}
.event-nav1 li
{
    padding-top:0.5vh;
    color:white;
} 
.event-nav
{
    top:10%;
    left:5%;
    z-index:999;
    position: absolute;
    /*top:30%;*/
    /*left:2%;*/
    width:70%;
    color:white;
    font-size:2vh;
    overflow-x:hidden;
    overflow-y:scroll;

}

.logoheading
{
    height:10vh;
    width:15vh;
}
}

canvas {
/*     position:absolute; */
    z-index:-999;
    position: absolute;
    filter:brightness(40%);
    top: 0;
    left: 0;
}