@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
@font-face{
  src: url("../fonts/Carnevalee\ Freakshow.ttf");
  font-family: carnival-font;
}
@font-face{
  src: url("../fonts/ONEDAY.ttf");
  font-family: oneday;
}
@font-face{
  src: url("../fonts/DenverRegular.ttf");
  font-family: denver;
}
@font-face{
  src: url("../fonts/Modeka.otf") format("opentype");
  font-family: modeka;
}
@font-face{
  src: url("../fonts/Bavro-Regular.ttf");
  font-family: bavro;
}
body {
  /*position:absolute;*/
  overflow-x: hidden;
  background-color: #fff;
  overflow-y:hidden;
  background-color:black;
}
*{
    padding: 0;
    margin: 0;
}
.logoheading {
  position: absolute;
  height: 18vh;
  width: 25vh;
  margin-top: -1.5% ;
  margin-left: 0%;
  z-index: 100;
}
.logoheading:hover{
  filter: brightness(110%);
}
.responsive-nav
{
    position:absolute;
    color:white;
    width:100%;
    text-align:center;
    top:10%;
}
.responsive-nav span
{
 padding-left:2vh; 
}
.home {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: black;
  background-image: url(/images/mask1.png);
  filter: brightness(40%);
  background-size: auto;
  background-position:bottom;
  background-repeat: no-repeat;
  overflow:hidden;
  z-index:-1;
}
.cato {
  position: absolute;
  /*left:40%;*/
  text-transform: uppercase;
  text-align:center;
  font-family:bavro; 
  color: white;
  font-size: 85px;
  width:100%;
  text-align:center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 10px;
}
.back
{
  position: absolute;
  height:100%;
  width:100%;
  background-color: black;
  opacity: 0.8;
  z-index:1;
}
.mask
{
  position: absolute;
  top:30%;
  left:20%;
  height:20%;
  width:60%;
  z-index: 999;
}
.border{
border: solid;
    border-width: 1px;
    border-color: rgb(196, 162, 67);
}
/* ====================================
Navigation 
==================================== */
.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 15%;
  left: 0;
  width: 100%;
  height: 80%;
  /*background-color: hsla(0, 25%, 90%, 0.2);*/
  display: none;
  opacity: 0;
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  -webkit-flex-basis: 18%;
  -ms-flex-preferred-size: 18%;
  flex-basis: 18%;
  margin-right:1%;
  margin-left:1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: none;
}

nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  /*font-family: 'Work sans', sans-serif;*/
  font-family: 'modeka';
  font-weight: 600;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.9rem;
  opacity: 0;
}

nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

nav li a:after {
  content: attr(data-content);
  font-size: 0.9rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0;
}

nav li a:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

nav li a:hover:after {
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 1;
}

nav li:nth-of-type(1) {
  /* background-color: #29363B */
  background-image: url(https://images.unsplash.com/photo-1504898770365-14faca6a7320?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6fa64120e4c19725806e25c2014ff4e0&auto=format&fit=crop&w=702&q=80);
  background-position-x: center;
  background-size: cover;
}

nav li:nth-of-type(2) {
  /* background-color: #EA495F */
  background-image: url(https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=22ee3ef054cc98c1561e132f82abb02b&auto=format&fit=crop&w=1189&q=80);
  background-position-x: center;
  background-size: cover;
}

nav li:nth-of-type(3) {
  /* background-color: #F4837D */
  background-image: url(https://images.unsplash.com/photo-1515405295579-ba7b45403062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
  background-position-x: center;
  background-size: cover;
  /*filter: brightness(70%);*/
}

nav li:nth-of-type(4) {
  background-image: url(https://images.unsplash.com/photo-1521412644187-c49fa049e84d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=488b21b3046696d05e2488d3113b93ef&auto=format&fit=crop&w=634&q=80);
  background-position-x: center;
  background-size: cover;
}

nav li:nth-of-type(5) {
  background-image: url(https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position-x: center;
  background-size: cover;
}

/* ====================================
Burger king
==================================== */

.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  -webkit-animation: animate-top-bar .6s linear 1 both;
  animation: animate-top-bar .6s linear 1 both
}

.animate-bottom-bar {
  -webkit-animation: animate-bottom-bar .6s linear 1 both;
  animation: animate-bottom-bar .6s linear 1 both
}

.animate-middle-bar {
  -webkit-animation: animate-middle-bar .6s linear 1 both;
  animation: animate-middle-bar .6s linear 1 both
}

.animate-out-top-bar {
  -webkit-animation: animate-out-top-bar .6s linear 1 both;
  animation: animate-out-top-bar .6s linear 1 both
}

.animate-out-bottom-bar {
  -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
  animation: animate-out-bottom-bar .6s linear 1 both
}

.animate-out-middle-bar {
  -webkit-animation: animate-out-middle-bar .6s linear 1 both;
  animation: animate-out-middle-bar .6s linear 1 both
}


/* ====================================
Animation keyframes
==================================== */

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #FFF;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #FFF;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #FFF
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #FFF;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #FFF;;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #FFF
  }
  80% {
    background-color: #FFF;
  }
  100% {
    background-color: #fff;
  }
}


@media (max-width: 640px) {
  body {
  position:absolute;
  overflow-x: hidden;
  background-color: #fff;
  overflow-y:hidden;
  background-color:black;
}
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li {
    position:absolute;
    height: 95%;
    width:93%;
    
  }
  #a
  {
    /*position:absolute;*/
    top:0;
    border-style:solid;
    border-width: 0.5vh;
    border-color:orange;
  }
  #b
  {
    /*position: absolute;*/
    top:100%;
    border-style:solid;
    border-width: 0.5vh;
    border-color:orange;
  }
  #h
  {
    top:200%;
    border-style:solid;
    border-width: 0.5vh;
    border-color:orange;
  }
  #d
  {
    top:300%;
    border-style:solid;
    border-width: 0.5vh;
    border-color:orange;
  }
  #e
  {
    top:400%;
    border-style:solid;
    border-width: 0.5vh;
    border-color:orange;
  }
  .overlay-navigation
  {
    overflow-y:scroll;
  }
  nav ul li a {
    font-size: 5vh;
  }
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }
  nav li a:hover:after {
    transform: translateY(0);
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 25px;
  }
  .cato
  {
    /*display:none;*/
    position: relative;
    text-align: center;
    margin-left: 45%;
    margin-top: 20%;
    /*z-index:999;*/
    /*right:10%;*/
    /*top:20%;*/
    font-size:6vh;
  }
  .logoheading
  {
    height:10vh;
    width:15vh;
  }
}
canvas {
/*     position:absolute; */
    z-index:-999;
    position: fixed;
    filter:brightness(40%);
    top: 0;
    left: 0;
    height:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}