*{
	padding: 0;
	margin: 0;
}
body
{
	position:absolute;
	height:100%;
	width:100%;
	overflow:hidden;
}
.background{
	z-index: -999;
	position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.png");
    filter:brightness(200%);
    background-position: center center;
		background-repeat:  no-repeat;
background-size: cover;
overflow: hidden;
}

#iframe
{
	position:absolute;
	display: none;
	z-index:999; 
	top:5%;
	width:30% ;
	height:35%;
}
.youtube
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:2%;
	top:10%;
	font-size:3vh;
}
.notification
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:1.5%;
	top:15%;
	color:red;
	font-size:3vh;
}
.notification1
{
	font-size:1.5vh;
}
#notification
{
	position:absolute;
	display: none;
	top:5%;
	width:30% ;
	height:35%;
	background-color:black;
	
	
}
#close12{
	display:none;
	position: absolute;
	top:3.5%;
	left:29%;
	padding:1vh;
	height:3.3%;
	cursor:pointer;
	/*width: 10%;*/
	color:white;
	background-color:black;
	z-index: 9999;
	border:none;
	background:none;
}
/*.IIIT*/
/*{*/
/*	position: absolute;*/
/*	z-index:999;*/
/*	top:15%;*/
/*	left:40%;*/
/*	text-align: center;*/
/*	color:white;*/
/*	font-size:2vh;*/
/*}*/
/*.date*/
/*{*/
/*	position:absolute;*/
/*	top:52%;*/
/*	left:55%;*/
/*	color:white;*/
/*	transform:rotate(-20deg);*/
/*	font-size:3vh;*/
/*}*/
/*.type*/
/*{*/
/*	position:absolute;*/
/*	z-index:999;*/
/*	background-color: black;*/
/*	width:100%;*/
/*	text-align:center;*/
/*	top:40%;*/
/*}*/

h1{
	color:white;
	position:fixed;
	width:100%;
	top:40%;
	/*left:40%;*/
  font-size: 2.6vh;
  font-weight: 650;
  background: -webkit-linear-gradient(#f12711, #f5af19);
  /*font-family: 'Ubuntu Mono', monospace;*/
  font-family: 'Amaranth', sans-serif;




  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*margin: 0.4em 0;*/
  text-align:center;
}
/*h1 { font-size: 3.5em; }*/
#bm{
	/*position: absolute;*/
	/*height: 90vh;*/
	/*width: 75vh;*/
	/*z-index: 1;*/
	/*right: 0;*/
	/*bottom:0;*/
	/*overflow: hidden;*/
	/*margin-bottom: -12vh;*/
		position: absolute;
	height: 90vh;
	width: 90vh;
	z-index: 1;
	right: -5vh;
	bottom:0;
	overflow: hidden;
	margin-bottom: -12vh;
}
.bottom{
	position: absolute;
	width: 100%;
	height: 5vh;
	bottom: 0;

	background-color: black; 
}
.wheel{
	/*position: absolute;*/
	/*height: 40vh;*/
	/*width: 25vh;*/
	/*z-index: 1;*/
	/*bottom: 5vh;*/
	/*left: 5vh;*/
	position: absolute;
	height: 40vh;
	width: 25vh;
	z-index: 1;
	bottom: 5vh;
	left: 6vh;
}
.tent{
	position: absolute;
	height: 25vh;
	width: 65vh;
	z-index: 1;
	bottom: 5vh;
	left: 30%;
}
#roller{
	position: absolute;
	width: 100%;
	bottom: 3vh;

}
.balloon1{
	position: absolute;
	top: 45vh;
	left: 25vh;
	height:6vh;
	width: 4vh;
}
.balloon2{
	position: absolute;
	top: 30vh;
	left: 130vh;
	height:9vh;
	width: 6vh;
}
.tree1{
	position: absolute;
	bottom: 5vh;
	left: 35vh;
	height: 10vh;
	width: 8vh;
}
.tree2{
	position: absolute;
	bottom: 5vh;
	left: 48vh;
	height: 8vh;
	width: 7vh;
}
.tree3{
	position: absolute;
	bottom: 5vh;
	right: 3vh;
	height: 15vh;
	width: 12vh;
}
.logo{
	position: absolute;
	left: 34%;
	top: 15%;
	height: 50vh;
	width: 60vh;
	z-index: 10;
}
.anilogo{
	/*position: absolute;*/
	/*left: 25%;*/
	/*top: 0%;*/
	/*height: 90vh;*/
	/*width: 100vh;*/
	/*z-index: 10;*/
	position: absolute;
	left: 26%;
	top: -30%;
	height: 100vh;
	width: 100vh;
	z-index: 10;
}
.upper{
	position: absolute;
	left: 26%;
	top: -30%;
	height: 100vh;
	width: 100vh;
  z-index: 11;

}


.light {
	z-index: -999;
	opacity: 0.8;
  animation:top-right 5s ease-in-out alternate infinite;
  border-bottom:none;
  border-left:solid 20vh transparent;
  border-right:solid 20vh transparent;
  border-top:solid 200vh rgba(255, 255, 255, .2);
  bottom:0;
  height:0;
  left:0;
  position:absolute;
  transform-origin:bottom;
  width:0;
}

.light + .light {
  animation:top-left 4s ease-in-out alternate infinite;
  left:auto;
  right:0;
}

@keyframes top-right {
  0% {
    transform:rotate(35deg);
  }
  100% {
    transform:rotate(50deg);
  }
}

@keyframes top-left {
  0% {
    transform:rotate(-35deg);
  }
  100% {
    transform:rotate(-50deg);
  }
}
@media screen and (max-device-width : 480px) and  (max-device-height : 640px){
  .balloon1, .light, .wheel
  {
  	display:none;
  }
  .tent
  {
  	height:10vh;
  	width:30vh;
  	left:20%;
  }
	#roller
	{
		/*display:none;*/
	}
	/*.wheel*/
	/*{*/
	/*	left:1%;*/
	/*	height:40vh;*/
	/*	width:20vh;*/
	/*}*/
	#bm
	{
		right:-10%;
		bottom:10vh;
		width: 40vh;
		height:40vh;
	}
	.anilogo
	{
	left:-10%;
	height: 70vh;
	width: 70vh;
	top:-5%;
	}
	.upper{
	position: absolute;
	height: 70vh;
	width: 70vh;
	left: -10%;
	top: -5%;

}
/*.IIIT*/
/*{*/
/*	font-size:2vh;*/
/*	top:25%;*/
/*	left:28%;*/
/*}*/
h1{
	color:white;
	position:fixed;
	width:100%;
	top:50%;
	/*left:40%;*/
  font-size: 2.5vh;
  /*background: -webkit-linear-gradient( #00ffff, darkcyan);*/
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*margin: 0.4em 0;*/
  text-align:center;
}
#iframe{
	
	position:absolute;
	display: none;
	z-index:999; 
	top:50%;
	width:100% ;
	height:50%;
	
}
.youtube
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:3.5%;
	top:12%;
	font-size:4vh;
}
.notification
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:2%;
	top:18%;
	color:red;
	font-size:4vh;
}
#notification
{
	position:absolute;
	display: none;
	z-index:999; 
	top:50%;
	width:100% ;
	height:48%;
	background-color:black;
	/*border-style:solid;*/
	/*border-color:orange;*/
	
}
#close12{
	display:none;
	position: absolute;
	top:50%;
	padding:1vh;
	height:3%;
	left:92%;
	width: 10%;
	color:white;
	background-color:black;
	/*border-style:solid;*/
	/*border-color:orange;*/
	/*border-bottom-color: black;*/
	z-index: 9999;
}
}


/*notch*/

@media screen and (max-device-width : 480px) and  (min-device-height : 641px) and (max-device-height:1000px){
  .balloon1, .light, .wheel
  {
  	display:none;
  }
  .tent
  {
  	height:10vh;
  	width:30vh;
  	left:20%;
  }
	#roller
	{
		/*display:none;*/
	}
	/*.wheel*/
	/*{*/
	/*	left:1%;*/
	/*	height:40vh;*/
	/*	width:20vh;*/
	/*}*/
	#bm
	{
		right:-10%;
		bottom:10vh;
		width: 40vh;
		height:40vh;
	}
	.anilogo
	{
	left:-18%;
	height: 70vh;
	width: 70vh;
	top:-5%;
	}
	.upper{
	position: absolute;
	height: 70vh;
	width: 70vh;
	left: -18%;
	top: -5%;

}
/*.IIIT*/
/*{*/
/*	font-size:2vh;*/
/*	top:25%;*/
/*	left:28%;*/
/*}*/
h1{
	color:white;
	position:fixed;
	width:100%;
	top:50%;
	/*left:40%;*/
  font-size: 2.5vh;
  /*background: -webkit-linear-gradient( #00ffff, darkcyan);*/
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*margin: 0.4em 0;*/
  text-align:center;
}
#iframe{
	
	position:absolute;
	display: none;
	z-index:999; 
	top:50%;
	width:100% ;
	height:50%;
	
}
.youtube
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:3.5%;
	top:12%;
	font-size:4vh;
}
.notification
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:2%;
	top:18%;
	color:red;
	font-size:4vh;
}
#notification
{
	position:absolute;
	display: none;
	z-index:999; 
	top:50%;
	width:100% ;
	height:48%;
	background-color:black;
	/*border-style:solid;*/
	/*border-color:orange;*/
	
}
#close12{
	display:none;
	position: absolute;
	top:50%;
	padding:1vh;
	height:3%;
	left:92%;
	width: 10%;
	color:white;
	background-color:black;
	/*border-style:solid;*/
	/*border-color:orange;*/
	/*border-bottom-color: black;*/
	z-index: 9999;
}
}


@media screen and (max-device-width : 1024px) and  (min-device-width : 641px) and (max-device-height:1366px){
  .balloon1, .light, .wheel
  {
  	display:none;
  }
  .tent
  {
  	height:10vh;
  	width:30vh;
  	left:20%;
  }
	#roller
	{
		/*display:none;*/
	}
	/*.wheel*/
	/*{*/
	/*	left:1%;*/
	/*	height:40vh;*/
	/*	width:20vh;*/
	/*}*/
	#bm
	{
		right:-10%;
		bottom:10vh;
		width: 40vh;
		height:40vh;
	}
	.anilogo
	{
	left:2%;
	height: 70vh;
	width: 70vh;
	top:-5%;
	}
	.upper{
	position: absolute;
	height: 70vh;
	width: 70vh;
	left: 2%;
	top: -5%;

}
/*.IIIT*/
/*{*/
/*	font-size:2vh;*/
/*	top:25%;*/
/*	left:28%;*/
/*}*/
h1{
	color:white;
	position:fixed;
	width:100%;
	top:50%;
	/*left:40%;*/
  font-size: 2.5vh;
  /*background: -webkit-linear-gradient( #00ffff, darkcyan);*/
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*margin: 0.4em 0;*/
  text-align:center;
}
#iframe{
	
	position:absolute;
	display: none;
	z-index:999; 
	top:50%;
	width:100% ;
	height:50%;
	
}
.youtube
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:3.5%;
	top:12%;
	font-size:4vh;
}
.notification
{
	position: absolute;
	z-index: 999;
	cursor: pointer;
	right:2%;
	top:18%;
	color:red;
	font-size:4vh;
}
#notification
{
	position:absolute;
	display: none;
	z-index:999; 
	top:50%;
	width:100% ;
	height:48%;
	background-color:black;
	/*border-style:solid;*/
	/*border-color:orange;*/
	
}
#close12{
	display:none;
	position: absolute;
	top:50%;
	padding:1vh;
	height:3%;
	left:92%;
	width: 10%;
	color:white;
	background-color:black;
	/*border-style:solid;*/
	/*border-color:orange;*/
	/*border-bottom-color: black;*/
	z-index: 9999;
}
}
