
/* *,
*:before,
*:after {
  box-sizing: border-box;
} */
nav,
nav ul {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
nav {
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.8);
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.25s;
  z-index: 999;
}
nav ul li {
  display: table;
  width: 100%;
  height: calc(100% /5);
  /* border-bottom: 1px solid rgba(80, 65, 65, 0.3); */
  background: rgba(0, 0, 0, 0.897);
  perspective: 0px;
  transform: rotateX(-90deg) scale(0.5);
  transition: all 0.3s ease 0.1s;
  border: solid;
  border-width: 1px;
  border-bottom-color: darkcyan;
}
nav ul li a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  color: #fff;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
}
nav ul li a:hover {
  background: rgba(207, 201, 201, 0.3);
  color: #fff;
  text-decoration: none;
}
#toggle {
  display: none;
}
#toggle + #toggle-btn,
.nav-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  cursor: pointer;
}
#toggle + #toggle-btn {
  height: 40px;
  width: 40px;
  z-index: 1000;
  background: rgba(0,0,0,0.05);
}
.nav-icon,
.nav-icon:before,
.nav-icon:after {
  position: absolute;
  height: 4px;
  width: 40px;
  margin: 18px 0;
  z-index: 900;
  border-radius: 3px;
  background: #fff;
  transition: all 0.25s;
}
.nav-icon:before {
  content: "";
  margin-top: -18px;
}
.nav-icon:after {
  content: "";
  margin-top: 18px;
}
#toggle:checked ~ nav {
  opacity: 1;
  transform: scale(0.8);
}
#toggle:checked ~ .nav-icon {
  background: rgba(46, 42, 42, 0);
}
#toggle:checked ~ .nav-icon:before {
  transform: rotate(-225deg);
  margin-top: 0;
}
#toggle:checked ~ .nav-icon:after {
  transform: rotate(225deg);
  margin-top: 0;
}
#toggle:checked ~ nav ul li {
  transform: rotateY(0deg) scale(1);
}
