* {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url('../images/classic2.svg'); */
  /* height: 1000px; */
  position: relative;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
.ferris{
  height: 250px;
  width: 250px;
  transform: translate(200px, 130px);
}

.classic{
  background-size: cover;
  position:fixed; 
  top:0; 
  left:0; 
  transform: scale(1, 1.17, 0.5);
  /* transform: scaleY(1.17); */
}

img object{
  position:absolute;
  top: 0px;
  left: 0px;
}

#guitar{
  z-index: 10;
}

#all{
  transform: scale(1,1.4) translateY(-110px);
}

#ferris{
  z-index: 30;
}

#bm{
  transform: translate(300px, -370px) scale(0.55,0.55);
  /* height: 100%;
  width: 100%; */
}
